@media all and (max-width: 1296px){
	.container{
    padding: 0 15px;
  }
  .header-nav nav ul li a {
    margin: 0 12px;
  }
  /* Common CSS End */

  /* Travel Page CSS Start */
  .b2c-left-list ul {
    padding-right: 117px;
  }
  .b2c-right-list ul {
    padding-left: 117px;
  }
  .b2c-left-list li::after {
    right: -118px;
  }
  .b2c-right-list li::after {
    left: -118px;
  }
  .b2c-list-area li::after {
    width: 110px;
    height: 45px;
  }
  .b2c-left-list li::after {
    top: 30%;
  }
  .b2c-right-list li::after {
    top: 30%;
  }
  /* Travel Page CSS End */

}

@media all and (min-width: 1080px){
  .header-display{
      display: block !important;
  }
  /* Common CSS End */
}


@media all and (max-width: 1080px){
    /* mobile menu */
    .header-display{
      display: none;
      position: absolute;
      top: calc(100% + 15px);
      right: -15px;
      z-index: 3;
      width: calc(100% + 30px);
    }
    .mobile-menu {
      display: block;
    }
    .header-nav-area{
      flex-direction: column;
      background: #ffffff;
      padding: 20px 10px 45px 10px;
      width: 100%;
      box-shadow: 0 6px 5px #30bc9047;
    }
    .header-button .btn1.active{
      display: block;
      margin-top: 5px;
      margin-bottom: 25px;
    }
    .header-nav nav ul {
      flex-direction: column;
    }
    .header-nav nav ul li a{
      margin: 10px 20px;
      display: block;
    }
    .header-button {
      text-align: center;
      margin-top: 30px;
    }

  .footer_bottom{
    justify-content: space-around;
  }
  /* Common CSS End */

   /* Home Features*/
   .home_featuresTitel {
    padding: 30px 16px;
  }

  /* Travel Page CSS Start */
  .b2c-list-area li br {
    display: none;
  }
  .b2c-left-list ul li{
    text-align: right;
  }
  /* Travel Page CSS End */

}



@media all and (max-width: 991px){


  /* Home Banner Area*/
   .home_banner_area {
    padding: 60px 0;
  }
  .home_bannerImg {
    margin-top: 65px;
  }
  .home_banner_top {
    margin-top: 0px;
  }
  .home_rating_section {
    margin-top: 70px;
  }
  .home_features_section {
    padding: 50px 0 83px 0;
  }
  .home_travelImg img {
    max-width: 630px;
  }
  .home_travelTitle {
    max-width: 835px;
    margin-top: 60px;
  }
  .home_travelTitle h5 {
    margin: 17px 0 20px 0;
  }
  .home_customer {
    gap: 40px;
  }
  .home_services_area {
    padding: 100px 0 80px 0;
  }
  .about_choose_contain{
    gap: 20px;
  }
  .about_offer_section {
    padding: 60px 0 80px 0;
  }
  .about_choose_section {
    padding: 90px 0;
  }
  .about_largest {
    margin-bottom: 80px;
  }


  /* footer css */
  .footer_copy_right {
    flex-direction: column;
    gap: 14px 0;
  }
  h3 {
    font-size: 38px;
    line-height: 50px;
  }
  /* Common CSS End */

  /* Travel Page CSS Start */
  .b2c-list-area li {
    height: 85px;
  }
  /* Travel Page CSS End */


  /* Pricing Page CSS Start */
  .pricing-area{
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;
  }
  .pricing-single{
    max-width: 500px;
    width: 100%;
    margin: auto;
  }
  /* Pricing Page CSS End */

}


@media all and (max-width: 767px){
  h1 {
    font-size: 38px;
    line-height: 50px;
  }
  h2 {
    font-size: 38px;
    line-height: 50px;
  }
  h3 {
    font-size: 30px;
    line-height: 45px;
  }
  /* Common CSS End */

 /* Home Page Css*/
 .home_banner_top p {
  font-size: 20px;
  line-height: 32px;
  }
 .home_banner_top p {
    max-width: 100%;
  }
  .home_features_section {
    padding: 25px 0 83px 0;
  }
  .home_bannerImg img {
    max-width: 340px;
  }
  .home_features_contain {
    grid-template-columns: repeat(2,1fr);
  }
  .home_travelImg img {
    max-width: 500px;
  }
  .home_customer {
    flex-direction: column;
  }
  .home_ulkit h4,
  .home_ulkit p {
    max-width: 100%;
  }
  .single_home_kit {
    max-width: 600px;
  }
  .single_home_kit h4 {
    margin-bottom: 10px;
  }
  .single_there{
    margin-top: 12px;
  }
  .home_customer_section {
    padding: 70px 0;
  }
  .home_customer_heder {
    margin-bottom: 55px;
  }
  .home_services{
    grid-template-areas:
    'item1 item1 item1 item2 item2 item2'
    'item3 item3 item3 item4 item4 item4'
    'item5 item5 item5 item6 item6 item6'
    'item7 item7 item7 item8 item8 item8';
  }
  .home_services_area {
    padding: 80px 0;
  }

  /* About Page CSS */
  .about_offer {
    gap: 20px;
  }
  .about_choose_contain{
    grid-template-columns: repeat(2,1fr);
  }
  .about_cloud {
    flex-direction: column;
  }
  .single_cloud_img img {
    max-width: 500px;
  }
  .cloud_titel h3 {
    margin-bottom: 15px;
    margin-top: 30px;
  }
  .cloud_titel p {
    margin-bottom: 25px;
  }
  .about_cloud_section {
    padding: 80px 0;
  }
  .cloud_titel{
    max-width: 100%;
  }
  .abLg-1{
    order: -1;
  }
  .about_largest_img img {
    max-width: 500px;
  }
  .about_largest_title h3 {
    margin-top: 40px;
  }
  .famd_center{
    grid-column: span 2;
  }
  .about_largest_content{
    margin: auto;
    text-align: center;
  }

  /* Travel Page CSS Start */
  .b2c-list-area {
    flex-direction: column;
    position: relative;
  }
  .b2c-list-area::after {
    position: absolute;
    content: " ";
    left: -1px;
    top: 0px;
    width: 1px;
    height: calc(100% - 65px);
    background: #30BC90;
  }
  .b2c-left-list li::after {
    background: url(../images/travel/right-angle2.png) no-repeat scroll center center / cover;
  }
  .b2c-right-list li::after {
    background: url(../images/travel/right-angle2.png) no-repeat scroll center center / cover;
  }
  .b2c-left-list ul li {
    text-align: inherit;
    justify-content: inherit;
    display: inherit;
  }
  .b2c-left-list ul {
    padding-left: 117px;
    padding-right: 0;
    border-right: none;
    padding-top: 20px;
  }
  .b2c-left-list li::after {
    left: -118px;
  }
  .b2c-list-area li {
    height: inherit;
    padding-bottom: 20px;
    margin: 0;
  }
  .b2c-left-list li::after {
    top: -5%;
  }
  .b2c-right-list li::after {
    top: -5%;
  }
  .b2c-right-list ul {
    padding-top: 0;
    padding-bottom: 0;
  }

  .chart-list li{
    position: inherit;
    margin: 10px;
  }

  .b2e-content-area {
    margin-bottom: 30px;
    flex-direction: column;
  }
  .b2e-banner {
    order: -1;
    flex-basis: 400px;
    max-width: 400px;
    margin-bottom: 30px;
    align-self: inherit;
    padding: 10px;
  }
  .b2e-list {
    flex-basis: 400px;
  }
  /* Travel Page CSS End */

 


  /* Start Flight Page Css */
  .flight_content{
    flex-direction: column;
  }
  .flight_sitebar{
    margin: auto;
    max-width: 490px !important;
    height: 450px;
    position: inherit;
    margin-bottom: 60px;
  }
  .flight_content_pera{
    text-align: center;
  }
  .flight_content {
    margin-bottom: -160px;
  }
  /* End Flight Page Css */


  /* Start Contact Page Css */
  .help_content {
    grid-template-columns: repeat(2, 1fr);
  }
  .help_content .single_help:last-child {
    grid-column: span 2;
    margin: auto;
  }
  .touch {
    padding: 20px;
    margin-bottom: 80px;
  }
  /* End Contact Page Css */

}


@media all and (max-width: 575px){
  .header-area {
    padding: 15px 0;
  }
  .header-display {
    top: calc(100% + 15px);
  }
  h1 {
    font-size: 28px;
    line-height: 40px;
  }
  h2 {
    font-size: 28px;
    line-height: 40px;
  }
  h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .header-logo img {
    width: 135px;
  }
  .footer_logo a img {
    width: 135px;
  }
  /* Common CSS End */


  /* Home Page Css*/
  .footer_button {
    margin: 35px 0 65px 0;
  }
  .footer_area {
    padding: 60px 0 33px 0;
  }
  .single_home_kit p {
    font-size: 16px;
    line-height: 25px;
  }
  .single_home_kit h4 {
    font-size: 19px;
    line-height: 30px;
  }
  .home_travel_planning {
    padding-top: 10px;
  }
  .home_services_header p {
    font-size: 16px;
    line-height: 25px;
  }
  .home_services_area {
    padding: 60px 0;
  }
  .home_slider {
    padding: 60px 0;
  }
  .home_featuresTitel h4{
    font-size: 19px;
  }
  .home_banner_top p {
    font-size: 16px;
    line-height: 25px;
  }
  .single_home_ratingImg img {
    max-width: 50.5px;
  }
  .single_home_ratingText h4 {
    font-size: 22px;
  }
  .home_bannerImg img {
    max-width: 310px;
  }
  .home_services{
    grid-template-areas:
    'item1 item1 item1 item1 item1 item1'
    'item2 item2 item2 item2 item2 item2'
    'item3 item3 item3 item3 item3 item3'
    'item4 item4 item4 item4 item4 item4'
    'item5 item5 item5 item5 item5 item5'
    'item6 item6 item6 item6 item6 item6'
    'item7 item7 item7 item7 item7 item7'
    'item8 item8 item8 item8 item8 item8';
  }
  .home_features_contain {
    grid-template-columns: repeat(1,1fr);
  }
  .home_featuresTitel {
    padding: 40px;
  }

  /* About Page Css */
  .about_offer {
    margin-top: 40px;
    flex-direction: column;
  }
  .about_offer_section {
    padding: 60px 0;
  }
  .about_choose_contain{
    grid-template-columns: repeat(1,1fr);
  }
  .about_choose_section {
    padding: 80px 0;
  }
  .famd_center{
    grid-column: span 1;
  }
  .about_area {
    padding-bottom: 300px;
  }
  .single_about_offer p{
    font-size: 16px;
  }
  .about_choose_section {
    padding: 60px 0;
  }
  .about_cloud_section {
    padding: 60px 0;
  }

  /* Travel Page CSS Start */
  .b2c-left-list ul {
    padding-left: 75px;
  }
  .b2c-left-list li::after {
    left: -75px;
  }
  .b2c-right-list ul {
    padding-left: 75px;
  }
  .b2c-right-list li::after {
    left: -75px;
  }
  .b2c-list-area li::after {
    width: 65px;
    height: 26px;
  }
  .b2c-left-list li::after {
    top: 5%;
  }
  .b2c-right-list li::after {
    top: 5%;
  }

  .b2e-heading h3 {
    padding: 60px 0 30px 0;
  }
  .b2b-section-title {
    margin-top: 60px;
  }
  .b2c-section-title {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .b2c-section-title h3 {
    margin-bottom: 15px;
  }
  .b2b-section-title h3 {
    margin-bottom: 15px;
  }
  .b2c-list-area::after {
    left: 0px;
  }
  /* Travel Page CSS End */


   /* Start Pricing-Cart Page Css */
   .billing_Info_area form input,
   .billing_Info_area form textarea,
   .billing_Info_area form button,
   .billing_Info_area form .country_option{
     padding: 8px 16px;
   }
   /* End Pricing-Cart Page Css */

   /* Start Contact Page Css */
   .help_area {
      padding: 80px 0px;
  }
   .help_content {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    margin: auto;
  }
  .help_content .single_help:first-child {
    grid-column: span 1;
    margin: auto;
  }
  .help_content .single_help:nth-child(2) {
    grid-column: span 1;
    margin: auto;
  }
  .help_content .single_help:last-child {
    grid-column: span 1;
    margin: auto;
  }

  .map_area iframe{
    height: 300px;
  }
  .touch_from_area form textarea{
    height: 120px;
  }
  .touch_from_area form input,
  .touch_from_area form textarea,
  .touch_from_area form button,
  .touch_from_area form .country_option{
    padding: 12px 18px;
  }
  .touch_from_area form input,
  .touch_from_area form textarea{
    font-size: 15px;
  }
  .touch_from_area form label{
    font-size: 16px;
  }
  .touch_from_top{
    flex-direction: column;
    width: 100%;
  }
  .name_field{
    flex-basis: 100% !important;
    width: 100%;
  }
  .email_field{
    flex-basis: 100% !important;
    width: 100%;
  }
  .single_help h5 {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 12px;
  }
  /* End Contact Page Css */


  /* Start Pricing Page Css */
  .pricing-title h3 {
    line-height: 30px;
  }
  .pricing-single {
    padding: 41px 40px 50px;
  }
  .pricing-single.active, .pricing-single:hover {
    padding: 41px 40px 65px;
  }
  .pricing-banner-area .banner_title {
    padding-bottom: 350px;
  }
  .pricing-banner {
    background: url(../images/pricing/banner2.png) no-repeat scroll center center / cover;
  }
  /* End Pricing Page Css */

}
@media all and (max-width: 481px){
  /* home page */
  .single_home_ratingText2 {
    padding-left: 0px;
    max-width: 100%;
    width: 100%;
  }
  .single_home_ratingText1::after {
    display: none;
  }
}

@media all and (max-width: 450px){
  h4{
    font-size: 18px;
  }
  h5{
    font-size: 18px;
  }
  p{
    font-size: 15px;
  }
  li{
    font-size: 15px;
  }
  .banner_title h1 {
    padding: 0px 0px 5px 0px;
  }
  /* Common CSS End */

   /* Home Page Css*/
   .home_rating_section {
      margin-top: 50px;
    }

   

  /* Start Pricing-Chart Page CSS */
  .price_details h4 {
    font-size: 17px;
  }
  .cart_price h4 p {
    font-size: 17px;
  }
  .billing_Info_area h4 {
    font-size: 17px;
  }
  /* End Pricing-Chart Page CSS */

  /* Start Travel Page CSS */
  .b2c-list-area::after {
    height: calc(100% - 85px);
  }
  /* End Travel Page CSS */


  /* Start Flight Page CSS */
  .flight_hero {
    height: 60px;
    margin-top: -20px;
  }
  /* End Flight Page CSS */

}